/* center text container */

.absolute-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
}


.child-1,
.child-2 {
    font-family: Roboto, system-ui, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.child-2 {
    margin-top: -10px;
}

.child-3 {
    font-size: 25px;
    font-weight: 550;
}

.child-4 {
    font-size: 20px;
}

.child-logo {
    max-width: 360px;
}

.child-logo-p {
    right: 100px;
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.child-date {
    font-size: 24px;
    font-weight: 550;
}

/* Media queries for responsiveness */

@media (max-width: 460px) {
    .absolute-container {
        gap: 10px;
    }
  
    .child-1,
    .child-2 {
        font-size: 18px;
    }
    .child-2 {
        margin-top: -2px;
    }

    .child-3 {
        font-size: 10px;
    }

    .child-4 {
        font-size: 7px;
    }

    .child-logo {
        max-width: 180px;
    }

    .child-logo-p {
        right: 49px;
        bottom: 7px;
        font-size: 8px;
    }

    .child-date {
        font-size: 8px;
    }
}
@media (max-width: 390px) {
    .absolute-container {
        gap: 2px;
        padding-top: 15px;
    }
}
@media (min-width: 461px) and (max-width: 600px) {

    .absolute-container {
        gap: 15px;
    }
  
    .child-1,
    .child-2 {
        font-size: 24px;
    }
    .child-2 {
        margin-top: -2px;
    }

    .child-3 {
        font-size: 14px;
    }

    .child-4 {
        font-size: 10px;
    }

    .child-logo {
        max-width: 220px;
    }

    .child-logo-p {
        right: 60px;
        bottom: 4px;
        font-size: 12px;
    }

    .child-date {
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

   
    .absolute-container {
        gap: 25px;
    }
  
    .child-1,
    .child-2 {
        font-size: 28px;
    }
    .child-2 {
        margin-top: -2px;
    }

    .child-3 {
        font-size: 18px;
    }

    .child-4 {
        font-size: 14px;
    }

    .child-logo {
        max-width: 250px;
    }

    .child-logo-p {
        right: 65px;
        bottom: 8px;
        font-size: 12px;
    }

    .child-date {
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1024px ) {

   
    .absolute-container {
        gap: 35px;
    }
  
    .child-1,
    .child-2 {
        font-size: 38px;
    }
    .child-2 {
        margin-top: -2px;
    }

    .child-3 {
        font-size: 22px;
    }

    .child-4 {
        font-size: 18px;
    }

    .child-logo {
        max-width: 320px;
    }

    .child-logo-p {
        right: 85px;
        bottom: 10px;
        font-size: 14px;
    }

    .child-date {
        font-size: 20px;
    }
}

@media (min-width: 1025px) and (max-width: 1250px) {
 
    .absolute-container {
        gap: 55px;
    }
  
    .child-1,
    .child-2 {
        font-size: 46px;
    }
    .child-2 {
        margin-top: -2px;
    }

    .child-3 {
        font-size: 32px;
    }

    .child-4 {
        font-size: 24px;
    }

    .child-logo {
        max-width: 420px;
    }

    .child-logo-p {
        right: 115px;
        bottom: 18px;
        font-size: 18px;
    }

    .child-date {
        font-size: 30px;
    }
}
@media (min-width: 1251px) {
 
    .absolute-container {
        gap: 55px;
    }
  
    .child-1,
    .child-2 {
        font-size: 60px;
    }
    .child-2 {
        margin-top: -2px;
    }

    .child-3 {
        font-size: 38px;
    }

    .child-4 {
        font-size: 28px;
    }

    .child-logo {
        max-width: 480px;
    }

    .child-logo-p {
        right: 130px;
        bottom: 20px;
        font-size: 20px;
    }

    .child-date {
        font-size: 36px;
    }
}




.responsive-content-img {
    width: 320px;
  }
  
  .responsive-content-img-card {
    margin-left: -90px !important;
  }
  
  .responsive-content-text>p {
    text-align: left;
    font-weight: normal !important;
  }
  
  @media (max-width: 950px) {
    .responsive-custom-content {
      display: flex;
      flex-direction: column;
    }
  
    .responsive-content-img {
      width: 380px;
    }
  
    .responsive-content-img-card {
      margin: 0px auto !important;
    }
  
    .responsive-content-text>p {
      text-align: center;
    }
  
  }
  @media (min-width: 950px) and (max-width: 1200px) {
    .responsive-custom-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .responsive-content-img {
      width: 380px;
    }
  
    .responsive-content-img-card {
      margin-left: -90px !important;
    }
  
    .responsive-content-text>p {
      text-align: left;
      font-size: 18px;
    }
    
  }

  @media (min-width: 1200px) {
   
    .responsive-custom-content {
        margin-top: -150px;
        padding-top: 100px !important;
      }
      .responsive-content-img {
        width: 480px;
      }
      .responsive-content-text>p {
        font-size: 20px;
      }
      .responsive-content-text{
        max-width: 1000px !important;
        margin-top: 80px  !important;
      }
  }
  
  @media (min-width: 1400px) {
    .absolute-container {
        margin-top: -200px;
    }
    .responsive-content-img {
      width: 500px;
    }
    .responsive-content-text>p {
      font-size: 24px;
    }
  }
    
