.card {
    border-radius: 15px !important;
    padding: 10px !important;
    margin: 10px !important;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.418) !important;
    transition: all .5s ease-in-out !important;
}

.card1 {
    background-color: #FFE4E4 !important;
    border: 1.5px solid #E1072E !important;
}

.card-team-1 {
    color: #E1072E !important;
    font-weight: 900 !important;
}

.card1>h6 {
    color: #E1072E !important;
}

.card-child-1 {
    color: #E1072E !important;
    opacity: .2 !important;

}

.card2 {
    background-color:
        #E5F1FF !important;
    border: 1px solid #076BE1 !important;
}

.card-team-2 {
    color: #076BE1 !important;
}

.card-child-2 {
    color: #076BE1 !important;
    opacity: .2 !important;


}

.card3 {
    background-color:
        #FFE6DC !important;
    border: 1px solid #F57D0F;
}

.card-child-3 {
    color: #F57D0F !important;
    opacity: .2 !important;

}

.card-team-3 {
    color: #F57D0F !important;
}

.card4 {
    background-color:
        #E0FFEA !important;
    border: 1px solid #0BAE42;

}

.card-team-4 {
    color: #0BAE42 !important;
}

.card-child-4 {
    color: #0BAE42 !important;
    opacity: .2 !important;

}

/* score card 2,2 1*4 pattern */
.scoreCard--responsive {
    width: 0px;
    display: none;

}

.responsive--scoreBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width:600px)and (max-width: 1290px) {
    .scoreCard--responsive {
        width: 100%;
        display: block;
    }
}

@media (max-width: 600px) {
    .responsive--scoreBoard {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}